<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='Codesheet.css')}}">
    <title>PLM Hub</title>
</head>

<body >
    <h1 class="centered">PLM Student Hub</h1><hr>
        <img  src="{{url_for('static', filename='PLM_Seal_BOR-approved_2014.png')}}" alt="PLM_Seal_BOR-approved_2014"
        width="100" height="100" id="Imageposi" > 
    </img>


 <div class="LoginArea"> 
<form>
        <fieldset >
            <Legend>Log in</Legend>
             <label for="Email"><b> Email:</b></label>   
             <input type="email" placeholder="Email" name="Email" required>

             <label for="Pword"><b>Password:</label>
             <input type="password" placeholder="Password" name="Pword"  required> 

             <button type="submit" id="Login">Login</button>
             <button type="button" id="NewAccount" onclick="openPopup()">Register</button>

                <div class="popup" id="popup">

                    <fieldset>
                        <Legend>Register</Legend>
                        <button type="button" id="close" onclick="closePopup()">X</button>
                       
                        <label for="Email"><b> Email:</b></label>   
                        <input type="email" placeholder="Email" name="Email" id="Email" style="margin-top:10%;">
                        <h4 id="L_OTP">Send OTP</h4>

                        <label for="Pword"><b>Password:</label>
                        <input type="password" placeholder="Password" name="Pword" id="Password" style="margin-top:-5%;"> 
                        
                        <label for="ConfirmPword"><b>Confirm Password:</label>
                        <input type="password" placeholder="Confirm Password" name="ConfirmPword" id="ConfirmPword" style="margin-top:-5%;">
                        
                        <label for="OTP"><b>OTP:</b></label>
                        <input type="text" inputmode="numeric" placeholder="OTP" name="OTP" id="OTP"><hr>
                    </fieldset>
                </div>


             
        </fieldset>
    </form>

 <script>

    let otp = document.getElementById("L_OTP").addEventListener("click",()=>{
        alert("OTP");
    })

    let popup=document.getElementById("popup");
   
    function openPopup(){
        popup.classList.add("open-popup");
    }

    function closePopup(){
        popup.classList.remove("open-popup");
    }
 </script>
</body>
</html>