
*{
  font-family: "Poppins",sans-serif;
}

body
{
    background-color:rgb(211, 230, 240);
    
    
}

h1
{
    text-align: center;
    font-family: "Poppins",sans-serif;
    
}
/*PLM logo*/
#Imageposi{
    -webkit-user-drag: none;
        width:150px ;
        height: 150px;
        margin-top: auto;
        margin-left:44.5%;
        border-radius: 50%;  
}

/*Login Div */
.LoginArea {
  display: inline;
  
}
.LoginArea fieldset{
  background-color: rgb(227, 229, 230);
    border: 5px solid rgb(66, 60, 60);
    border-radius: 15px;
    width: 200px;
    height: 400px;
    margin: auto;
    margin-top:-7%;
    padding: 16px;
    border-style:outset;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    font-family: "Poppins",sans-serif;
  }

  .LoginArea ::placeholder{
    color:  rgb(199, 194, 194);
  }
  
  .LoginArea legend{
    font-weight: 100;
    background-color: rgb(223, 224, 224);
    border: 3px solid rgb(66, 60, 60);
    padding: 6px;
    border-radius: 15px;
    border-style: outset;
    font-size: 25px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

  .LoginArea input{
    border-radius: 15px;
    width: 400px;
    height: 50px;
    padding:20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(29, 26, 26);
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
  }

  .LoginArea #Login{
    background-color: #04AA6D;
    color: white;
    font-size: large;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid rgb(45, 8, 63) ;
    border-style: outset;
    font-family: "Poppins",sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .LoginArea #NewAccount {
    background-color: #0476aa;
    color: white;
    font-size: large;
    display: block;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 10px; 
    border: 2px solid rgb(45, 8, 63) ;
    border-style: outset;
    font-family: "Poppins",sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  button:hover {
    opacity: 0.8;
  }

  /* pop up area*/
  .popup{
     position: absolute;
     top: 0%;
     left: 50%;
     transform: translate(-50%, -50%) scale(.1);
     text-align: center;
     color: #333;
     visibility: hidden;
     transition: transform 0.4s, top 0.4s;
     
  }
  .popup fieldset{
    margin-bottom: 5px;
    width: 600px;
    height: 600px ;
    
  }
  .popup input{
    margin-top: 3%;
  }
  .popup label{
    display: inline-block;
    width: 150px;
  }
  .popup #L_OTP{
    margin-top: -1%;
    margin-left: 60%;
    color: blue;
  }
  
  .open-popup{
    top: 55%;
    transform: translate(-50%, -50%);
    visibility: visible; 
   
  }

  .popup #close {
    background-color: #ff0400;
    color: white;
    font-size: large;
    padding: auto;
    display: block;
    margin-left: 100%;
    margin-top: -11%;
    width: 5.5%;
    border-radius: 50%;
    border: 2px solid rgb(45, 8, 63) ;
    border-style: outset;
    font-family: "Poppins",sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
 


  
  

  
